<div class="container target">
	<div class="row">
		<div class="col-sm-10">
			<h1 class="profile_username"><%= @user.username%></h1>
			<p class="profile_email"><%= @user.email %></p>
		</div>
		<div class="col-sm-2"><a class="pull-right"><img title="profile image" class="img-circle img-responsive" src="<%= @user.gravatar %>"></a>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<!--left col-->
			<%= render 'userprofile' %>
		</div>
		<div class="col-sm-8" style="">
			<%= render 'picture' %>
		</div>
	</div>
</div>
