<div class="photos_page">
	<% @photos.each do |photo| %>
	<article class="photo_article">
		<header class="photo_header col-xs-12">
			<a href="" class="col-xs-1 gravatar">
				<img title="picture_avatar" class="img-circle img-responsive" src="<%= photo.user.gravatar + "?s=50" %>"></a>
			</a>
			<div class="col-xs-8 username">
				<%= link_to photo.user.username, user_path(photo.user) %>
			</div>
			<span href="" class="photo_time col-xs-3">
				<%= time_ago_in_words photo.created_at %>
			</span>
		</header>
		<div class="photo_content">
			<%= image_tag(photo.image)%>
		</div>
		<div class="photo_footer">
			<ul class="comment_list">
				<li>
					<a href="" class="username"><%= photo.user.username %></a>
					<% photo.caption.split(' ').each do |word| %>
					<% if word.first.eql?("#") %>
					<%= link_to word, photos_path(:hashtag => word[1 ..-1]) %>
					<% else %>
					<%= word %>
					<% end %>
					<% end %>
				</li>
				<% photo.comments.each do |comment| %>
				<li>
					<%= link_to comment.user.username, user_path(comment.user), :class => "username" %>
					<% comment.comment.split(' ').each do |word| %>
					<% if word.first.eql?("#") %>
					<%= link_to word, photos_path(:hashtag => word[1 ..-1]) %>
					<% else %>
					<%= word %>
					<% end %>
					<% end %>
				</li>
				<% end %>
			</ul>
			<% if user_signed_in? %>
			<div class="add_comment">
				<%= form_tag comments_path, class: "comment_form", :remote => true, :role => "form" do %>
				<%= hidden_field_tag :'comment[user_id]', current_user.id, class: "form-control"%>
				<%= hidden_field_tag :'comment[photo_id]', photo.id, class: "form-control"%>
				<%= text_field_tag :'comment[comment]', '', placeholder: "Add your comment", class: "form-control" %>
				<% end %>
			</div>
			<% end %>
		</div>
	</article>
	<% end %>
</div>