<div class="photos_page">
	<% @photos.each do |photo| %>
	<article class="photo_article">
		<header class="photo_header col-sm-12">
			<a href="" class="col-sm-2">
				<img title="picture_avatar" class="img-circle img-responsive" src="<%= photo.user.gravatar + "?s=50" %>"></a>
			</a>
			<div class="col-sm-8">
				<%= link_to photo.user.username, user_path(photo.user) %>
			</div>
			<span href="" class="photo_time col-sm-2">
				<%= time_ago_in_words photo.created_at %>
			</span>
		</header>
		<div class="photo_content">
			<%= image_tag(photo.image)%>
		</div>
		<div class="photo_footer">
			<ul>
				<li>
					<a href=""><%= photo.user.username %></a>
					<span><%= photo.caption %></span>
				</li>
				<% photo.comments.each do |comment| %>
				<li>
					<%= link_to comment.user.username, user_path(comment.user) %>
					<%= comment.comment %>
				</li>
				<% end %>
			</ul>
			<% if user_signed_in? %>
				<div class="add_comment">
					<%= form_tag comments_path, class: "comment_form" do %>
					<%= hidden_field_tag :'comment[user_id]', current_user.id, class: "form-control"%>
					<%= hidden_field_tag :'comment[photo_id]', photo.id, class: "form-control"%>
					<%= text_field_tag :'comment[comment]', '', placeholder: "Add your comment", class: "form-control" %>
					<% end %>
				</div>
			<% end %>
		</div>
	</article>
	<% end %>
</div>